@model int
<div class="btn-group" role="group">
    <a class="btn btn-sm btn-info text-white" title="Editar" asp-action="Edit" asp-route-Id="@Model"><i class="fa fa-pencil"></i></a>
    <a class="btn btn-sm btn-danger text-white" title="Eliminar" asp-action="Delete" asp-route-Id="@Model"><i class="fa fa-trash" aria-hidden="true"></i></a>
</div>
